.mexp-item-picasa {
	height: 336px;
}

.mexp-item-picasa .mexp-item-thumb {
	width: 288px;
	max-height: 288px;
}

.mexp-item-picasa .mexp-item-thumb img {
	width: auto;
	max-width: 99%;
}

.mexp-item-picasa .mexp-item-main {
	width: 288px;
	max-height: 48px;
	overflow: hidden;
}
